<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.mds.mapper.UserMapper">
	<!-- 회원가입 -->
	<insert id="singUp" parameterType="kr.mds.entity.User">
		insert into user(user_id, 
						user_pw, 
						user_name, 
						user_email, 
						user_farm_address,
						user_sa_onoff)
		values(
			#{user_id},
			#{user_pw},
			#{user_name},
			#{user_email},
			#{user_farm_address},
			'on'
		)
	</insert>

</mapper>